<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Bank SME App</title>
</head>

<body>
    <td align="center" valign="top"><img src="./static/ntuitive.png" alt="NTUitive" style="display: block; width: 200px; margin-left: auto; margin-right: auto" /></td>
    <div style="text-align: center">
        <strong><br>Welcome to the BANK SME App</strong>
        <br>
        <br>
        <form class = "" action="/data" method="post" enctype="multiplart/form-data">
            <p>{{file_details}}</p>
            <br>
            <!--    -->
            <p>{{bad_debt_score}}</p>
            <p>{{inv_turnover_score}}</p>
            <p>{{inv_turnover}}</p>
            <p>{{inv_turnover_mean}}</p>
            <p>{{inv_turnover_res}}</p>
            <p>{{ebidta_score}}</p>
            <p>{{lat_ebitda}}</p>
            <p>{{ebidta_mean}}</p>
            <p>{{ebidta_res}}</p>
            <p>{{latest_dscr}}</p>
            <p>{{dscr_score}}</p> 
            <p>{{dscr_res}}</p>
            <p>{{latest_Debt_to_EBITDA_res}}</p>
            <p>{{debt_to_ebitda_score}}</p>
            <p>{{debt_to_ebitda_res}}</p>
            <p>{{latest_gearing}}</p>
            <p>{{gearing_ratio_score}}</p>
            <p>{{net_worth_score}}</p>
            <p>{{net_worth_res}}</p>
            <br>
            <p>{{bankability}}</p>

            <br>
        </form>
    </div>   
</body>

</html>