<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Bank SME App</title>
</head>

<body>
    
    <div style="text-align: center">
        <img src="./static/ntuitive.png" alt="NTUitive" style="display: block; width: 200px; margin-left: auto; margin-right: auto" />
        <br>
        <strong><br>Welcome to the BANK SME App</strong>
        <br>
        <br>
        <form class = "" action="/data" method="post" enctype="multipart/form-data">
            <p>Upload your database here</p>
            <input type = "file" name = "csvfile1" value = "">
            <br>
            <p>Upload your company financial statement here</p>
            <input type = "file" name = "csvfile2" value = ""><br>
            <br>
            <input type = "submit" name = "" value = "Submit">
        </form>
    </div>
    
</body>

</html>